/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}

a {
  color: white !important;
  text-decoration: line-through;
  background-color: transparent;
}
body {
  background-color: #161619 !important;
}
/* header */
.left-side {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}
.left-side .logo {
  display: inline-block;
}
.left-side .logo img {
  height: 50px;
}
.lines-left {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}
.left-side .lines-left {
  margin: 226px 30px;
}
.lines-left > div:nth-child(1)::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: -9px;
}
.lines-left > div:nth-child(2)::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: -9px;
  top: 12px;
}
.lines-left > div:nth-child(3)::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: -9px;
  top: 24px;
}
.left-side .social-links {
  display: inline-block;
}
.left-side .social-links ul {
  margin: 0;
  padding: 0;
}
.left-side .social-links ul li a {
  display: inline-block;
  font-size: 13px;
}
.left-side .equalizer {
  margin: auto;
  margin-bottom: 10px;
}
.equalizer {
  width: 26px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.equalizer span {
  background: #fff;
  width: 2px;
  height: 0px;
  bottom: 0;
  left: 0%;
  display: block;
  position: absolute;
  transition: height 0.2s linear;
}

.equalizer span:nth-child(1) {
  margin-left: 8px;
}

.equalizer span:nth-child(2) {
  margin-left: 16px;
}

.equalizer span:nth-child(4) {
  margin-left: 24px;
}

.equalizer.paused span {
  height: 3px !important;
}
.top-nav {
  width: calc(100% - 120px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  padding: 30px 40px;
}
.top-nav .all-cases-link {
  margin-right: 0;
  margin-left: 20px;
}
.all-cases-link {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.all-cases-link span {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  margin-right: 10px;
}
.all-cases-link b {
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #222327;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.all-cases-link b.closed {
  transform: rotate(45deg);
}
.all-cases-link b:hover {
  background: #75dab4;
  text-decoration: none;
  color: #fff;
}
/* main */
.main-page {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  margin-bottom: 682px;
}
.header-section {
  width: calc(100% + 30px);
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}
.header-section::before {
  content: "";
  display: table;
}
/* footer */
.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-size: 80% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../image/footer-bg.png);
}
.footer .col-lg-4 {
  margin-top: 150px;
}
.footer .social-media {
  width: 100%;
  display: block;
}
.footer .social-media ul {
  margin: 0;
  padding: 0;
  float: right;
}
.footer .social-media ul li {
  display: inline-block;
  margin-left: 10px;
}
.footer .social-media ul li a {
  color: #fff;
  font-size: 13px;
}
.footer .social-media ul li a:hover {
  color: #75dab4;
}
.footer .call-to-action {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: -50px;
}
.footer .call-to-action h6 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2vw;
  margin-bottom: 20px;
}
.footer .call-to-action h2 {
  width: 100%;
  display: block;
  font-size: 4vw;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 50px;
  opacity: 0.7;
}
.footer .call-to-action .link-holder {
  width: 100%;
  display: block;
}
.footer .call-to-action .link-holder .link {
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
}
.footer .call-to-action .link-holder .link:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #75dab4;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.footer .call-to-action .link-holder .link:hover {
  text-decoration: none;
}
.footer .call-to-action .link-holder .link:hover:before {
  content: "";
  width: 0;
}
.footer address {
  width: 100%;
  display: block;
  margin: 0;
}
.footer address small {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
  font-weight: 600;
  font-size: 14px;
}
.footer .footer-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
}
.footer .footer-bottom .copyright {
  margin: 0;
}
.footer .footer-bottom .creation {
  margin-left: auto;
}
.footer .footer-bottom .creation a {
  color: #fff;
  text-decoration: underline;
}
.footer .footer-bottom .creation a:hover {
  text-decoration: none;
  color: #75dab4;
}
